.rdg-header-row,
.rdg-row {
  background: #ffffff !important;
}
.rdg-header-background-color {
  background: #ffffff !important;
}
.rdg-background-color {
  background: #ffffff !important;
}
.rdg-cell {
  color: black;
  align-items: center;
  display: flex;
  justify-content: center;
  font-feature-settings: 'pnum' on, 'lnum' on;
  font-family: 'Raleway';
  font-size: 1.13rem;
  outline: none;
  border-bottom: 0.06rem solid var(--tableColor);
}
.ag-theme-alpine,
.r104f42s7-0-0-beta-26:not(.rdg-light) {
  --rdg-border-color: transparent !important;
  --rdg-border-bottom-color: black;
}
.dataGrid {
  background: white;
  grid-template-rows: 4rem !important;
  overflow-x: hidden !important;
  block-size: initial !important;
  contain: initial !important;
}
.rdg-header-sort-name {
  font-feature-settings: 'pnum' on, 'lnum' on;
  font-family: 'Raleway';
  font-size: 1.13rem;
}
